body {
  background: #eee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar {
  height: window;
}

#side_nav {
  background: rgba(15, 15, 15, 0.977);
  max-width: 240px;

  position: sticky;
  transition: all 0.7s;
}
.content {
  min-width: 100%;
  background-color: rgb(157, 157, 154);
}

.content nav {
  background-color: rgb(70, 77, 77);
  margin-top: 0;
}

hr.h-color {
  background: rgb(100, 22, 22);
}
.sidebar li.active {
  background: #eee;
  border-radius: 8px;
}
.sidebar li.active a,
.sidebar li.active a:hover {
  color: #000;
}
.sidebar li a {
  color: #fff;
}
.title {
  width: 59%;
  padding-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.content-area {
  /* padding:10px; */
  background-color: rgba(130, 132, 132, 0.515);

  margin-top: 80px;
  margin-left: 220px;
  height: fit-content;
  z-index: 3;
}
span.name {
  color:white;
  padding-left: 7px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.theme {
  margin-left: -5%;
  background-color:rgb(70, 77, 77);;
padding-left: 10%;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: dotted;
  text-shadow: 1px 1px rgb(117, 107, 107);
  color:black
}
.highlight {
  width: 15%;
  font-family: cursive;
  /* background-color: rgb(199, 193, 193); */
  transform: scale(1.07, 1.05) skewX(-15deg);
}
.footer {
  z-index: 4px;
  color: white;
}
footer {
  background-color: #000;
  padding: 15px;
  z-index: 4;
}

footer span,
a {
  color: red;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 1rem;
}
.box {
    border:1px solid #0f0f0f94 ;
    background-color:#67767a94;
    border-radius: 3px;
    box-shadow: 0px 0px 17px -5px white;
  
    height:250px;
  
}
.box{
  
  background-position: center;
  background-size: cover;
}
img{
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 767px) {
  .content {
    margin-left: 0%;
    width: 100%;
    position: fixed;
  }

  .content-area {
    margin-left: 0px;
    margin-top: 58px;
  }
  #side_nav {
    margin-left: -250px;

    min-height: 100vh;
    z-index: 6;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .title {
    display: none;
  }
  .swiper-slide img {
    margin-top: 0;
    width: 100%;
    height: 45vh;
  }
  .theme{
    margin-left: -9%;
  }
}
@media (min-width: 767px) {
  .navbox {
    width: 100%;
    position: fixed;
  }
  h1.title {
    margin-top: 0;
    margin-left: 20px;
  }
  .content-area {
    margin-top: 60px;
  }
  footer {
    padding: 10px;
    padding-left: 21%;
  }
}
@media (min-width: 768px) and (max-width: 1066px) {
  .content-area {
    margin-left: 123px;
    padding-left: 25px;
  }
  .navbox {
    width: 100%;
    position: fixed;
  }
  #side_nav {
    max-width: 220px;
  }
}
@media (min-width: 1066px) {
  .swiper-slide img {
    height: 80vh;
  }
  .content-area {
    margin-left: 123px;

    padding-left: 25px;
  }
  .swiper {
    margin: 10px;
    padding: 10px;
  }
}
